@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700,800|Amatic+SC:400,700|Balsamiq+Sans:400,400i,700,700i&display=swap');

$text-font: "Source Sans Pro", sans-serif;
$header-font: "Baloo 2", cursive;
$title-font: 'Amatic SC';

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$neutral: #fbfad3; 
$light-green: #c6e377;
$green: #729d39;
$dark-green: #36622b;


$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;
$spacing-double: 4rem;