@import "styles/variables.scss";

body {
  // height: 100%;
  background-color: $neutral;
  font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

// MENU

div.ui.menu {
  padding: $spacing 0 0;
}

.ui.menu a.item {
  font-family: $text-font;
  text-transform: uppercase;
}

.logo-text {
  font-family: $title-font;
  padding: 0 $spacing-double 0 $spacing;
  font-weight: 700;
  font-size: 3rem;
  color: $green
}

// FoodCarousel

.food-carousel {
  margin: $spacing;
}

.food-carousel li {
  margin-left: auto;
  margin-right: auto;
}
